{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% set documentList %}
<ul class="govuk-list govuk-list--bullet">
  <li>
    Document1.jpg
  </li>
  <li>
    Document2.pdf
  </li>
</ul>
{% endset %}

{% set objectorNameHTML %}
{% if objector === 'objector' %}
  <p class="govuk-!-font-weight-bold">Name</p>
{% elseif objector === 'organisation' %}
  <p class="govuk-!-font-weight-bold">Organisation</p>
{% else %}
  <p class="govuk-!-font-weight-bold">Objector</p>
{% endif %}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Check your objection application
      </h1>

      <h2 class="govuk-heading-m">
        Your details
      </h2>

      {{ govukSummaryList({
       rows: [
         {
           key: {
             text: "Email address"
           },
           value: {
             text: email
           },
         actions: {
            items: [
              {
                visuallyHiddenText: "email cannot be changed"
              }
            ]
          }
          },
         {
           key: {
             html: objectorNameHTML
           },
           value: {
             text: name
           },
           actions: {
              items: [
                {
                  href: "/objecting-entity-name/?id=1",
                  text: "Change",
                  visuallyHiddenText: "change name"
                }
              ]
            }
         },
         {
           key: {
             text: "Share identity if company requests it?"
           },
           value: {
             html: divulgeInfo | capitalize
           },
           actions: {
              items: [
                {
                  href: "/objecting-entity-name/?id=1",
                  text: "Change",
                  visuallyHiddenText: "change information shared"
                }
              ]
            }
         }
    ] }) }}

      <h2 class="govuk-heading-m">
        Company details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Company name"
            },
            value: {
              text: scenario.company.name
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: scenario.company.number
            }
          }
     ] }) }}

      <h2 class="govuk-heading-m">
        Objection details
      </h2>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Name of objector"
          },
          value: {
            text: clientName
          },
          actions: {
            items: [
              {
                href: "/objector-details" + loop.index0,
                text: "Change",
                visuallyHiddenText: "change the name of the objector"
              }
            ]
          }
        },
          {
            key: {
              text: "Reason for objection"
            },
            value: {
              text: information
            },
            actions: {
              items: [
                {
                  href: "/enter-information" + loop.index0,
                  text: "Change",
                  visuallyHiddenText: "change objection information"
                }
              ]
            }
          },
          {
            key: {
              text: "Supporting documents"
            },
            value: {
              html: documentList
            },
            actions: {
              items: [
                {
                  href: "/upload" + loop.index0,
                  text: "Change",
                  visuallyHiddenText: "change uploaded documents"
                }
              ]
            }
          }
     ] }) }}

      <h2 class="govuk-heading-m">Submit your objection</h2>
      <p>
        By submitting this objection you are confirming that, to the best of your knowledge, the details you are providing are true.
      </p>
      <form action="/check-your-answers" method="post">
        {{ govukButton({
            text: "Confirm and submit objection"
          }) }}

      </form>
    </div>
  </div>
{% endblock %}