{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the company
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: ""
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirm this is the correct company</h1>
      <h2 class="govuk-heading-l">{{scenario.company.name}}</h2>
      <form action="" method="post">
        {{ govukTable({

  firstCellIsHeader: true,
  classes: "align-top",
  rows: [
    [
      {
        text: "Company number"
      },
      {
        text: scenario.company.number
      }
    ],
    [
      {
        text: "Status"
      },
      {
        text: scenario.company.status
      }
    ],
    [
      {
        text: "Incorporation date"
      },
      {
        text: scenario.company.incorporationDate
      }
    ],
    [
      {
        text: "Company type"
      },
      {
        text: scenario.company.companyType
      }
    ],
    [
      {
        text: "Registered office address"
      },
      {
        html: scenario.company.address | nl2br
      }
    ]
  ]
}) }}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}