{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the company
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/company-number"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Confirm this is the correct company</h1>
      <h2 class="govuk-heading-l">{{scenario.company.name}}</h2>
      <form action="" method="post">

        {% set datePublishedHTML %}
        {% if scenario.company.actionCode === '4000' %}
          <p>No notice in The Gazette</p>
        {% elseif scenario.company.actionCode === '6000' %}
          <p>No notice in The Gazette</p>
        {% else %}
          {{ scenario.company.datePublished}}
        {% endif %}
        {% endset %}

        {% set expiryDateHTML %}
        {% if scenario.company.actionCode === '4000' %}
          <p>The company is not being struck off</p>
        {% elseif scenario.company.actionCode === '6000' %}
          {{ scenario.company.expiryDate}}
          <p>
            <b>No notice in The Gazette</b>
          </p>
        {% endif %}
        {% endset %}

        {{ govukTable({

  firstCellIsHeader: true,
  classes: "align-top",
  rows: [
    [
      {
        text: "Company number"
      },
      {
        text: scenario.company.number
      }
    ],
    [
      {
        text: "Status"
      },
      {
        text: scenario.company.status
      }
    ],
    [
      {
        text: "Incorporation date"
      },
      {
        text: scenario.company.incorporationDate
      }
    ],
    [
      {
        text: "Company type"
      },
      {
        text: scenario.company.companyType
      }
    ],
    [
      {
        text: "Registered office address"
      },
      {
        html: scenario.company.address | nl2br
      }
    ],
    [
      {
        text: "Date notice published in The Gazette"
      },
      {
        html: datePublishedHTML
      }
    ]
  ]
}) }}

        {% if scenario.company.actionCode === '4000' %}
          {{ govukButton({
text: "Confirm and continue",
href: "/no-gazette"
}) }}

        {% elseif scenario.company.actionCode === '5000' %}
          {{ govukButton({
text: "Confirm and continue",
href: "/enter-information"
}) }}

        {% elseif scenario.company.actionCode === '6000' %}
          {{ govukButton({
text: "Confirm and continue",
href: "/notice-expired"
}) }}
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}