{% extends "layout.html" %}

{% block pageTitle %}
    Error: Tell us why you're objecting to the company being struck off
{% endblock %}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "confirm-company"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">

      {{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Enter a reason for your objection",
      href: "#information"
    }
  ]
}) }}
        {% set titleHTML %}
        <h1 class="govuk-heading-xl">Tell us why you're objecting to the company being struck off</h1>
        {% endset %}

        {% if errInformation.flag %}
          {% set informationError = {
            text: errInformation.text
          } %}
        {% else %}
          {% set informationError = false %}
        {% endif %}

        {{ govukTextarea({
          name: "information",
          id: "information",
          classes: "govuk-body",
  hint: {
    text: "Include any information that supports your objection application. You can upload documents on the next screen."
  },
          errorMessage: {
            text: "Enter a reason for your objection"
          },
          rows: '8',
          label: {
            text: "Tell us why you're objecting to the company being struck off",
            isPageHeading: true,
            classes: 'govuk-label--l',
            value: information
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
