{% extends "layout.html" %}

{% block pageTitle %}
  Company not being struck off
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You cannot use this service
      </h1>
      <p class="govuk-body-l">There is no strike off notice in The Gazette for
        {{ scenario.company.name }}.
      </p>
      <p>{{ scenario.company.name }}
        is on the Companies House register.
        <a href="https://www.gov.uk/government/organisations/companies-house/about/access-and-opening">Contact us</a>
        if you think this is wrong.<p>
          <p>You can
            <a href="https://beta.companieshouse.gov.uk/">follow a company</a>
            to get email updates about any changes.</p>
          <p>If this is the wrong company, start the
            <a href="/company-number">Apply to object to a company bring struck off</a>
            service again.</p>

          <p>
            <a href="https://www.research.net/">What did you think of this service?</a>
            (takes 30 seconds)</p>
        </div>
      </div>
    {% endblock %}