{% extends "layout.html" %}

{% block pageTitle %}
  Notice expired
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You cannot use this service
      </h1>
      <p class="govuk-body-l">The notice to strike off has expired and can no longer be objected.
        {{ scenario.company.name }}
        has been struck off the register.</p>
      <p>If you are a director or shareholder for this company, you may
        <a href="https://www.gov.uk/restore-dissolved-company">restore the company</a>.</p>
      <p>
        <a href="https://www.gov.uk/government/organisations/companies-house/about/access-and-opening">Contact us</a>
        if you think this is wrong.<p>
          <p>
            <a href="/company-number">Object to a different company</a>
            being struck off.</p>

          <p>
            <a href="https://www.research.net/">What did you think of this service?</a>
            (takes 30 seconds)</p>
        </div>
      </div>
    {% endblock %}