{% extends "layout.html" %}

{% block pageTitle %}
  Notice expired
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You cannot use this service
      </h1>
      <p class="govuk-body-l">The strike off notice for
        {{ scenario.company.name }}
        has expired and you can no longer make an objection. The company has been struck off the register.</p>
      <p>
        <a href="https://www.gov.uk/government/organisations/companies-house/about/access-and-opening">Contact us</a>
        if you think this is wrong.<p>
          <p>Read the
            <a href="https://www.gov.uk/restore-dissolved-company">guidance for restoring the company</a>
            if you are a director or shareholder for this company.</p>

          <p>If this is the wrong company, start the
            <a href="/company-number">Apply to object to a company being struck off</a>
            service again.</p>

          <p>
            <a href="https://www.research.net/">What did you think of this service?</a>
            (takes 30 seconds)</p>
        </div>
      </div>
    {% endblock %}