{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts (MVP)
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Shortcuts</h1>
      <h2 class="govuk-heading-l">Happy path</h2>
      <ul class="govuk-list">
        <li>
          <a href="/start">Start</a>
          Apply to object to a company being struck off
        </li>
        <li>
          <a href="/sign-in">Sign in</a>
          Sign in
        </li>
        <li>
          <a href="/objecting-entity-name">Objecting entity name</a>
          Your full name or the name of your organisation
        </li>
        <li>
          <a href="/company-number">Enter company number</a>
          What is the company number?
        </li>
        <li>
          <a href="/confirm-company">Confirm company</a>
          Confirm the company
        </li>
        <li>
          <a href="/enter-information">Enter information</a>
          Tell us why you're objecting to the company being struck off
        </li>
        <li>
          <a href="/upload">Upload documents</a>
          Upload documents to support your objection
        </li>
        <ul class="govuk-bulleted--list">
          <li>
            <a href="/upload-with-doc">Document uploaded</a>
            Upload documents to support your objection
          </li>
          <li>
            <a href="/remove-document">Remove document</a>
            Remove document
          </li>
        </ul>
        <li>
          <a href="/check-your-answers">Check your answers</a>
          Check your answers
        </li>
        <li>
          <a href="/confirmation">Confirmation</a>
          Confirmation
        </li>
      </ul>
      <h2 class="govuk-heading-l">Stop pages</h2>
      <ul class="govuk-list">
        <li>
          <a href="/no-gazette">Company not published in the gazette</a>
          There is no strike off notice for the company
        </li>
        <li>
          <a href="/notice-expired">Company already struck off</a>
          The strike off notice has expired for the company
        </li>
        <li>
          <a href="/2nd-gaz">Company published in the 2nd Gazette</a>
          It's too late to object to the company being struck off
        </li>
      </ul>
      <h2 class="govuk-heading-l">Error pages</h2>
      <ul class="govuk-list">
        <li>
          <a href="/service-offline">Service offline</a>
          Service offline - Apply to object to a company being struck off
        </li>
        <li>
          <a href="/page-not-found">Page not found</a>
          Page not found - Apply to object to a company being struck off
        </li>
      </ul>
      <h2 class="govuk-heading-l">Emails</h2>
      <ul class="govuk-list">
        <li>
          <a href="/emails/user-email">User objecting on behalf of themselves</a>
        </li>
        <li>
          <a href="/emails/business-email">Business objecting on behalf of themselves</a>
        </li>
        <li>
          <a href="/emails/user-email-organisation">User objecting for a client</a>
        </li>
        <li>
          <a href="/emails/business-email-organisation">Business objecting for a client</a>
        </li>
      </ul>
      <h2 class="govuk-heading-l">Resources</h2>
      <ul class="govuk-list">
        <li>
          <a href="https://companieshouse.atlassian.net/wiki/spaces/TTL/pages/1801256988/Prototype">Company numbers</a>
        </li>
      </ul>
    </div>
  {% endblock %}